* {
  box-sizing: border-box;
}

.SearchMainContainer {
  background: #131313;
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.searchMainContainer2 {
  background: #131313;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.SearchMoviesListContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  /* flex-wrap: initial; */
  justify-content: flex-start;

  align-items: center;
  width: 100%;
  /* overflow: auto; */
  height: 65%;
  /* background-color: blue; */

  /* margin-left: 5%; */
}

.searchRouteNoMovies {
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.searchNoMoviesPara {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #ffffff;
}

.searchLoadingContainer {
  margin-top: auto;
  margin-bottom: auto;
}

.searchTryAgain {
  padding: 8px 24px;
  gap: 8px;
  background: #ffffff;
  border-radius: 4px;
}

@media (min-width: 996px) {
  .SearchMoviesListContainer {
    width: 90%;
  }

  .SearchMainContainer {
    height: inherit;
  }
  .searchMainContainer2 {
    background: #131313;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
